<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="https://www.facebook.com/profile.php?id=61576972455360"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/nesa_klime_novisad/"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a style="text-wrap: nowrap;" href="tel:+38166309004">Klikni da pozoveš</a></li>
                <li><a href="/">Početna</a></li>
                <li><a href="/about">O Neša klime</a></li>
                <li><a href="/katalog">Katalog</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footerBottom">
        <p>&copy; <%= new Date().getFullYear(); %> Neša Klime</p>
    </div>
</footer>
