<div class="o_nesa_klime ">
    <p class="o_nesa_klime_paragraph p-5 mx-5"> 
        RP Neša klime je firma sa sedistem u Novom Sadu koja se bavi prodajom i postavljanjem vovovodnih, kanalizacijonih, grejnih i klimatizacionih sistema <br>
        PIB: 115124177 <br>
        Maticni broj: 68117623 <br>
        Kontakt: 066 309 004
        Email: nebojsajovanovic137@gmail.com
    </p>
</div>
