<div class="proizvodiii p-2">
    <h1 class="svi_proizvodi">Svi proizvodi - sa uračunatom ugradnjom i <span class="trojka">3</span> metra instalacije</h1>
    <div class="card-group">
        <div class="card brend----bergen" style="width: 18rem;">
            <img src="/img/klime/bergen_apollo_t_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Apollo T 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">499 &#8364;</span></p>
            <a href="bergen-apollo-t-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----gree" style="width: 18rem;">
            <img src="/img/klime/gree_pular_12k/1.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Pular 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">618 &#8364;</span></p>
            <a href="/gree-pular-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----bergen" style="width: 18rem;">
            <img src="/img/klime/bergen_kron_smart_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Kron Smart 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">660 &#8364;</span></p>
            <a href="/bergen-kron-smart-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card brend----gree" style="width: 18rem;">
            <img src="/img/klime/gree_clivia_ai_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
                <h5 class="card-title">Gree Clivia Ai 12k SA UGRADNJOM</h5>
                <p class="card-text"><span class="cenaa">680 &#8364;</span></p>
                <a href="/gree-clivia-ai-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----bergen" style="width: 18rem;">
            <img src="/img/klime/bergen_kron_smart_12k_black/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Bergen Kron Smart 12k Black SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">695 &#8364;</span></p>
            <a href="bergen-kron-smart-12k-black" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----gree" style="width: 18rem;">
            <img src="/img/klime/gree_clivia_ai_12k_black/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Clivia Ai 12k Black SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">745 &#8364;</span></p>
            <a href="/gree-clivia-ai-12k-black" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card brend----gree" style="width: 18rem;">
            <img src="/img/klime/gree_amber_pro_12k/1.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Gree Amber Pro 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">768 &#8364;</span></p>
            <a href="/gree-amber-pro-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-hr-smart/mitsubishi-hr-smart.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">MITSUBISHI HR Smart Eco Plus A++ Toplotna Pumpa 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">793 &#8364;</span></p>
            <a href="mitsubishi-hr-smart-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-bt/1.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Mitsubishi BT Smart Comfort A++ Toplotna Pumpa 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">1075 &#8364;</span></p>
            <a href="/mitsubishi-bt-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-hr-smart/mitsubishi-hr-smart.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">MITSUBISHI HR Smart Eco Plus A++ Toplotna Pumpa 18k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">1271 &#8364;</span></p>
            <a href="/mitsubishi-hr-smart-18k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-bt/1.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">MITSUBISHI BT Smart Comfort A++ Toplotna Pumpa 18k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">1502 &#8364;</span></p>
            <a href="/mitsubishi-bt-18k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-hr-smart/mitsubishi-hr-smart.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">MITSUBISHI HR Smart Eco Plus A++ Toplotna Pumpa 24k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">1792 &#8364;</span></p>
            <a href="/mitsubishi-hr-smart-24k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-ln/black.png" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">MITSUBISHI LN Smart Premium A+++ Toplotna Pumpa 12k SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">1903 &#8364;</span></p>
            <a href="/mitsubishi-ln-12k" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card brend----mitzu" style="width: 18rem;">
            <img src="/img/klime/mitsubishi-ln/red.jpg" class="card-img-top" alt="air conditioner">
            <div class="card-body">
            <h5 class="card-title">Mitsubishi LN Smart Premium A+++ Toplotna Pumpa 12k Red SA UGRADNJOM</h5>
            <p class="card-text"><span class="cenaa">2142 &#8364;</span></p>
            <a href="/mitsubishi-ln-12k-red" class="btn btn-primary pogledaj-dugme">Pogledaj</a>
            </div>
        </div>
        <div class="card empty tekst_katalog_container" style="width: 18rem; background-color: white;">
            <p style="padding: 5%;" class="katalog_tekst">Za uređaje većeg kapaciteta pozvati telefonom radi provere o dostupnosti.</p>
        </div>
    </div>
</div>