<div class="porucccccci">   
    <div class="poruciiii-formmmaaa">
        <div class="navbaaaaaaar">
            <div class="poruci-naslov rounded">
                <h2 style="margin-bottom: 20px;">Bergen Apollo T 12k</h2>
            </div>
            <div class="poruci-product-overview rounded">
                <div class="uracunato_u_cenu_lista">
                    <p class="stavka">- 5 godina garancije</p><br>
                    <p class="stavka">- 3 metra duzne instalacije</p><br>
                    <p class="stavka">- Profesionalna montaža</p><br>
                    <p class="stavka">- Brz izlazak na teren</p><br>
                    <p class="stavka">- Ovlašćeni servis</p><br>
                    <br>
                    <br>
                    <p class="cenaaaa">499 &#8364;</p><br>
                </div>
            </div>
        </div>

        <form class="poruciiii-formaaaa" action="/post-poruci-bergen-apollo-t-12k" method="POST">
            <label for="ime"><b>Ime:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" placeholder="Obavezno polje" name="ime" required>

            <label for="prezime"><b>Prezime:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" name="prezime">

            <label for="telefon"><b>Telefon:</b></label>
            <input class="placeholderrrrrrr p-2" type="text" placeholder="Obavezno polje" name="telefon" required>

            <input type="submit" value="Naruči" class="poruci-btnnnnnnnnnnnnnnnnnnn border rounded-3">
        </form>

        <div class="pppooorrruuukkkaaa">
            <p class="porukkkka rounded-4">
                Kontaktiraćemo Vas o potvrdi porudžbine, provere terena, i dogovora termina montaže!
            </p>
        </div>
    </div>
</div>
