<div class = "card-wrapperrr">
    <div class = "carddd">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "img/klime/mitsubishi-hr-smart/mitsubishi-hr-smart.png" alt = "shoe image">
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">MITSUBISHI HR Smart Eco Plus A++ Toplotna Pumpa 18k SA UGRADNJOM</h2>
        <a href = "#" class = "product-link">Sa ugradnjom</a>
  
        <div class = "product-price">
          <p class = "new-price">Cena: <span>1271 &#8364;</span></p>
        </div>
        
        <div class = "product-detail">
          <h2>Opis: </h2>
          <p>Ovaj model je praktican i kompaktan uredjaj sa visokim performansama. Kvalitetna montaza i upotreba pouzdanih komponenti obezbedjuju stabilan rad, kao i odlican izgled unutrasnje i spoljasnje jedinice.</p>
          <ul>
            <li>Kapacitet klima uređaja: <span>18000 BTU</span></li>
            <li>Snaga hlađenja: <span>5000 W</span></li>
            <li>Snaga grejanja: <span>5400 W</span></li>
            <li>Strana brenda: <span>Japan</span></li>
            <li>Potrošnja u hlađenju <span>2.05 kW</span></li>
            <li>Potrošnja grajanja: <span>1.55 kW</span></li>
            <li>Gas: <span>R32</span></li>
            <li>Energetska klasa hladjenja: <span>A++</span></li>
            <li>Gasna cev: <span>3/8</span></li>
            <li>Autorestart: <span>Da</span></li>
            <li>Samodijagnoza: <span>Da</span></li>
            <li>Područje rada hlađenja: <span>-10 do +46 &#8451;</span></li>
            <li>Područje rada grejanja: <span>-10 do +24 &#8451;</span></li>
            <li>Protok vazduha (max): <span>870&#13221;/h</span></li>
            <li>Noćni režim: <span>Da</span></li>
          </ul>
        </div>
  
        <div class = "purchase-info">
          <a href="/poruci-mitsubishi-hr-smart-18k">
            <button type = "button" class = "btnnnnn rounded-3">
              Poruči <i class = "fas fa-shopping-cart"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>